[Unit]
Description=Anki Camera Service
SourcePath=/usr/bin/mm-anki-camera
Wants=vic-engine.service mm-qcamera-daemon.service
After=vic-engine.service
PartOf=anki-robot.target

[Service]
Restart=always
ExecStart=/usr/bin/mm-anki-camera $MM_ANKI_CAMERA_OPTS
Group=camera
UMask=0007

[Install]
WantedBy=anki-robot.target
